{% render 'partials/head.liquid', title: product.name %}

<main>
  <article>
    {% if product.image %}
      <img src="https://fdnd-agency.directus.app/assets/{{ product.image }}" alt="{{ product.name }}">
    {% endif %}

    <h1>{{ product.name }}</h1>

    {% if product.description %}
      <p>{{ product.description }}</p>
    {% endif %}

    {% if product.price %}
      <p>€ {{ product.price }}</p>
    {% endif %}

    <form method="POST" action="/winkelwagen/toevoegen">
      <input type="hidden" name="id" value="{{ product.id }}">
      <input type="hidden" name="name" value="{{ product.name }}">
      <input type="hidden" name="price" value="{{ product.price }}">

      <button type="submit">Voeg toe aan winkelwagen</button>
    </form>
  </article>
</main>

{% render 'partials/foot.liquid' %}
